<?xml version="1.0" ?>
<settings version="1">
	<section id="screensaver.atv4">
		<!-- Category "aerial screensavers" (label 32000) and its contents (general settings, DPMS, is_locked) removed -->
		<!-- Category "videos" (label 32031) and its contents (individual Apple video location toggles) removed -->
		<category id="advanced" label="32136" help=""> <!-- Renamed from "offline mode", new label ID for "Advanced Settings" -->
			<group id="1">
				<!-- Retained settings related to local files -->
				<setting id="extra-local-folder" type="path" label="32133" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>32133</heading>
					</control>
				</setting>
				<setting id="random-seek-local" type="boolean" label="32135" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="visible">
							<condition operator="!isempty" setting="extra-local-folder">true</condition>
						</dependency>
					</dependencies>
				</setting>
				<!-- Removed settings:
				     download-folder,
				     force-offline,
				     get-videos-from-apple,
				     enable-checksums,
				     run-downloader,
				     only-extra-local-folder
				-->
			</group>
		</category>
	</section>
</settings>
